* {
    box-sizing: border-box;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
}

.container {
    background-color: #c7a133 ;
    /* padding: 50px; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float { /* float container here is to center the main div */
    height: 89vh; 
    width: 100%;
    margin: 6vb;
    /* border: 2px solid red; */
    position: relative;
}

.main {
    background-color: #242021 ;
    padding: 2rem 5rem;
    height: 93%;
    position: relative;
    box-shadow: 0px 0px 30px 1px #000000;
    margin: 10px;
    overflow: hidden;
}


/* Nav Bar */
.left {
    gap: 2rem;
}
.left img {
    width: 6rem;
}
.right {
    gap: 2rem;
}
.right img {
    width: 1.5rem;
    height: 1.5rem;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
}

.phone {
    display: flex;
    gap: 10px;
}

/* Main Section */
.bg-design {
    position: absolute;
    background-image: url(images/bg.svg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    top: -10%;
    right: -10px;
    z-index: 0;
    /* opacity: 0.5; */
}

.text {
    margin-top: 2rem;
    display: flex;
    align-items: top    ;
    justify-content: space-between;
    gap: 5rem;
    /* width: 80%; */
    padding-left: 15%;
    /* border: 2px solid red; */
    height: 50%;
    z-index: 1;
}
blockquote {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 3rem;
    width: 90%;
    width: 80%;
}
.text p {
    margin-top: 10%;
    /* width: 60%; */
}

.text > div {width: 40%;}
.text img {
    height: 55%;
    position: absolute;
    right: 10%;
    top: 20%;
}

.btn {
    background-color: #d1a739;
    width: 10rem;
    height: 3rem;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}


/* bottom */
.bottom img {
    width: 25%;
}
.bottom {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0px;
    gap: 4rem;
}

.bottom > * {
    width: 15rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12%;
    border-radius: 30px;
    background-image: linear-gradient(-45deg, #382f30, #272324);
}

#arrow {
    width: 1.2rem;
}

.readmore {
    color: #d1a739;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}

@media (max-width:897px) {
    .container {
        min-height: fit-content;
        /* display: block; */
    }
    .float{
        margin: 0;
        height: 100%;
    }
    .main {
        padding: 0;
        padding-bottom: 3%;
    }
    ul {display: none;}
    .bottom {
        /* flex-direction: column; */
        gap: 0;
        width: 100%;
        position: relative;
    }
    .bottom > * {
        width: 30vb;
        border-radius: 0px;
    }
    .bg-design{
        /* background-size: cover; */
        height: 50vh;
        width: 100%;
        z-index: 0;
    }
    .text{
        flex-direction: column-reverse;
        z-index: 2;
        /* padding: 0; */
    }
    .text img {
        z-index: 1;
        position: static;
        width: 70%;
        margin-left: 20%;
    }
    .text > div {
        width: 90%;
    }
}
